html{
    font-size: 20px;
}
.all{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
#basic p{
    font-weight: bold;
}
h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-bottom: solid 3px rgb(115,115,114);
    letter-spacing: 1.2rem;
    text-shadow: 2px 2px 3px gray;
}
.blue{
    color: skyblue;
}
.pink{
    color: rgb(255,192,203);
}
